@charset "utf-8";
/* CSS Document */

body
{
	background-image:url(gw.jpg);
	font-family:"STHeiti";
	}

.page-header
{
	margin-left:400px;
}
.login
{
	margin-top:100px;
	font: normal 14px  Arial, Helvetica, sans-serif,"黑体" ;
	}
.dl
{
	margin-left:70px;
}
.zc
{
	margin-left:50px;
}
.register
{
	margin-top:80px;
	}
